.DS_Store
*.sln
*.userprefs
ARWServer_UnityApi/ARWServer_UnityApi.csproj
ARWServer_UnityApi/bin
ARWServer_UnityApi/obj
ARWServer_UnityApi/Properties
*.sublime-project
*.exe
Library
Temp
ProjectSettings
*.meta
Scenes
*.sublime-workspace
*.csproj